setuptools>=67.6.1
rich~=13.4.2
gql[all]>=3.4.0
isodate>=0.6.1

pytz~=2023.3
croniter~=1.4.1
requests>=2.28.2
PyYAML>=6.0
python-liquid>=1.8.1

# Tests only
tox>=4.4.8
Markdown>=3.4.1
aiohttp>=3.8.4
aiounittest>=1.4.2
